<!DOCTYPE html>
<html>
  <head>
    <title>GithubWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< HEAD
aaaaaaaaaaaaa
=======
<p>コンフリクト！！！<P>
>>>>>>> 9420ff3fbe3e4aa3ab8bf31f624dfded267572e3
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
